.container-slider {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 500px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s ease, opacity 3s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: center center;
  opacity: 0;
}

.active-slide {
  opacity: 1;
  transform: rotateY(0deg);
  z-index: 2;
}

.bg-active,
.prev-slide {
  transform: rotate(360deg);
  opacity: 0;
  z-index: 1;
}

.bg-active,
.next-slide {
  transform: rotate(-360deg);
  opacity: 0;
  z-index: 1;
}

.mainImg {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
}

.container-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot-active {
  background-color: #333;
}

.bg {
  opacity: 0;
}

.bg-active {
  opacity: 1;
  animation: bgAnim 1.7s ease-in-out;
}


@keyframes bgAnim{
  0%{
    transform: rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: rotate(-360deg);
    opacity: 1;
  }
}