.container-slider {
  position: relative;
  width: 800px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ******** Largest Background ********* */
.slider-largest-background {
  position: absolute;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.slide-larget-background {
  position: absolute;
  width: 800px;
  height: 800px;
  animation-delay: 2s !important;
  transition: transform 2s ease, opacity 3s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: center center;
  opacity: 0;
}

.slider-largest-background .active-slide {
  opacity: 1;
  transform: rotate(360deg);
  z-index: 1;
}

.largest-backgroundImg {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  object-fit: fill;
}


/* ********Larger Background********* */
.slider-background {
  position: absolute;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 700px;
}

.slide-background {
  position: absolute;
  width: 700px;
  height: 700px;
  animation-delay: 2s !important;
  transition: transform 2s ease, opacity 3s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: center center;
  opacity: 0;
}

.slider-background .active-slide {
  opacity: 1;
  transform: rotate(-360deg);
  z-index: 1;
}

.backgroundImg {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  object-fit: fill;
}

/* ******* Foreground ******** */
.slider-foreground {
  position: absolute;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
}

.slide-foreground {
  position: absolute;
  width: 600px;
  height: 600px;
  transition: transform 2s ease, opacity 3s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: center center;
  opacity: 0;
}

.slider-foreground .active-slide {
  opacity: 1;
  transform: rotate(360deg);
  z-index: 5;
}

.foregroundImg {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  object-fit: fill;
}

/* ************* Dots *************** */
.container-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 800px;
}

.dot {
  z-index: 500;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot-active {
  background-color: #333;
}
