.slide {
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 05s;
  width: 900px;
  height: 900px;
  border-radius: 50%;
}

.slide .mainImg {
  margin-left: 100px;
  margin-top: 100px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  object-fit: fill;
}

.active-anim {
  opacity: 1;
}

.active-anim img {
  border-radius: 100%;
  animation: fahim 2s ease-in-out;
}

@keyframes fahim {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

/* .next-slide,
 img {
  rotate: 360deg;
  animation-delay: 0.5s;
  animation: jewel 3s ease-in-out;
}

@keyframes jewel {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
} */

.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  display: flex;
  margin: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.btn-slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dot.dot-active {
  border: 1px solid green;
  padding: 2px;
  scale: 1.7;
  border-radius: 50%;
}

.bgSlide {
  border: 2px solid green;
}
/* 
.bgSlide {
  animation-delay: 1s;
  animation: vsb 2s ease-in-out;
}
*/


@keyframes bangla {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 1;
  }
} 